<html>
  <head>
    <link href='../common/style.css' type='text/css' rel='stylesheet'>
    <script src='jquery.min.js'></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src='angular.min.js'></script>
    <script src='angularFire.js'></script>
    <script src='app.js'></script>
  </head>
  <body ng-app='myapp'>
    <div ng-controller='MyCtrl'>
      <svg height=500>
      <circle ng-repeat="shape in shapes" svg-cx='{{shape.x}}' svg-cy='{{shape.y}}' svg-r='{{ shape.size }}' draggable shape='shape'>
      </svg>
      <button ng-click='addShape()'>Add a circle</button>
      <p>
        Click and drag to move, hold cmd/ctrl to resize, (view in multiple browsers for magic)
      </p>
      <p>[View the code on github](https://github.com/latentflip/hacksinprogress/blob/master/svgmagic/app.coffee) By [@philip_roberts](http://twitter.com/philip_roberts).</p>
    </div>
  </body>
</html>
